<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="form-style-5" style="margin-top: 106px">
        <form action="/create" method="post" enctype="multipart/form-data">
        <fieldset>
        <legend><span class="number">1</span> Employee Info</legend>
        <input type="text" name="name" placeholder="Your Name *">
        <input type="email" name="email" placeholder="Your Email *">
        <input type="number" name="phone_no" placeholder="Your Phone No *">
        <input type="text" name="password" placeholder="Your Password *">
        <input type="text" name="cpassword" placeholder="Your Confirm Password *">
        <input type="file" name="file">
        </fieldset>
        <input type="submit" value="Apply" />
        </form>
        </div>
</body>
</html>